.circle-progressbar-wrap{
    position: relative;
    margin-bottom: 40px;
    span.progressbar-percentage{
        position: absolute;
        left: 0;
        top: 50%;
        font-size: 50px;
        font-weight: 600;
        width: 100%;
        line-height: 40px;
        margin-top: -20px;
    }
   
}