$brand-primary				: #42e0bf;
$text-color					: #999999;
$title-color				: #333;
$headings-color				: #333;

$white						: #fff;
$black						: #333;

$headings-font-family		: 'Oswald', sans-serif;
$text-font-family			: 'Open Sans', sans-serif;
$fontawesome				: 'FontAwesome';

$transition                 : all 0.4s ease;

$navbar-link-color			: $white;
$navbar-hover-color			: $brand-primary;
$navbar-hover-bg			: transparent;
$navbar-active-color		: $brand-primary;
$navbar-active-bg			: transparent;


$navbar-toggle-bg			: $brand-primary;
$navbar-toggle-line-color	: $black;